header {
  display: flex;
  align-items: center;
}

header > h1 {
  text-align: center;
  flex: 1;
  margin-left: 48px;
}

#menu {
  margin-right: 8px;
}

main {
  display: flex;
  flex-direction: column;
  height: 100dvh;
}

/*
 * <ChatList> component
 */
#chat-list {
  flex: 1;
  overflow-y: auto;
  scroll-behavior: smooth;
}

#msg-error {
  color: red;
  font-weight: bold;
}

/*
 * <InputBar> component
 */
#editing-bar {
  display: flex;
  justify-content: space-between;
  padding: 3px 6px;
  gap: 6px;
  background-color: #7772;
  border-radius: 6px;
}

#input-bar {
  display: flex;
  padding: 6px;
  gap: 6px;
}

#input-bar > div.MuiFormControl-root {
  flex: 1;
}

/*
 * <ChatMessage> component
 */
.msg-div {
  display: flex;
  flex-direction: column;
  transition: background-color 0.5s ease-in-out;
  margin: 4px;
  padding: 6px;
}

.msg-div.highlighted {
  background-color: #FF02;
}

.user-msg {
  align-items: end;
}

.ai-msg {
  align-items: start;
}

p {
  margin: 0;
}

.msg-inner-div {
  max-width: 100%;
}

.message-div p {
  margin: revert;
}

.message-div > * {
  max-width: 100%;
  overflow-x: auto;
}

.message-div > *:first-child {
  margin-top: 0;
}

.message-div > *:last-child {
  margin-bottom: 0;
}

.msg-inner-div > div.MuiAccordion-root, 
.msg-inner-div > div.MuiAccordion-root.Mui-expanded {
  background-color: #0000;
  margin-top: 8px;
  margin-bottom: 6px;
}

.msg-div .MuiAccordionSummary-root {
  min-height: 0 !important;
}
.msg-div .MuiAccordionSummary-content,
.msg-div .MuiAccordionSummary-content.Mui-expanded {
  margin: 10px 0;
}
.msg-div .MuiAccordionDetails-root {
  font-size: 0.9em;
  padding: 4px 16px 8px;
  word-break: break-word;
}

/*
 * <ActionLink> component
 */
a.action-link {
  color: inherit;
  text-decoration: underline;
  transition: color 0.1s ease-out;
}

a.action-link:hover {
  color: color-mix(in srgb-linear, currentColor 100%, #FFF 12%);
}

a.action-link:active {
  color: color-mix(in srgb-linear, currentColor 100%, #FFF 40%);
}